#!/bin/bash

ip address add {{ secondNetIf_ip }}/24 dev {{ secondNetIf_name }}
ip link set dev {{ secondNetIf_name }} up

## ..:: Max Map Count for VM when runnign ELK in a Docker container ::..
sysctl -w vm.max_map_count=262144

exit 0